@font-face {
  font-family: 'playfair_displayregular';
  src: url('./src/fonts/playfairdisplay-variablefont_wght-webfont.woff') format('woff2'),
       url('./src/fonts/playfairdisplay-variablefont_wght-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  src: url('roboto-variablefont_wdthwght-webfont.woff2') format('woff2'),
       url('roboto-variablefont_wdthwght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: 'robotoregular', sans-serif;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: whitesmoke;
}

h1, h2, h3 {
  font-family: 'playfair_displayregular', sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
}

.intro {
  display: flex;
  padding: 2.5rem 5rem;
  align-items: center;
}

.intro::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -115%;
  left: -100%;
  z-index: -1;
  background-color: #424769;
  transform: rotate(-15deg);
  box-shadow: 1px 1px 10px #2d2d2d;
}

.img-name-container {
  position: relative;
  text-align: center;
  color: white;
  img {
    filter: brightness(0.85) contrast(0.95);
    max-height: 80vh;
    max-width: 40vw;
    object-fit: contain;
    box-shadow: 1px 1px 10px #2d2d2d;
  }
  h1 {
    text-shadow: black 1px 0 10px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.about-me { 
  background-color: white;
  box-shadow: 1px 1px 10px #2d2d2d;
  padding: 2em;
  h2, p{
    padding-bottom: 1rem;
  }
  a {
    text-decoration: none;
  }
  .header-social-links {
    padding-top: 1rem;
    display: flex;
    justify-content: end;
    gap: 2rem;
  }
}

.works {
  padding: 0 5rem 2.5rem;
  h2 {
    padding-bottom: 1em;
  }
}

.project-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2em;
}

.project-card {
  border: 1px solid gray;
  box-shadow: 1px 1px 10px #2d2d2d;
  background-color: white;
  img {
    width: 100%;
  }
  .project-title-links {
    padding: .5em 1em;
    display: flex;
  }
  p {
    padding: 0 1em 2em 1em;
  }
  a {
    text-decoration: none;
  }
  .project-links {
    display: flex;
    margin-left: auto;
    gap: 1em;
  }
}

.project-card:hover {
  box-shadow: 1px 1px 20px black;
}

.contacts {
  padding: 2.5rem 5rem;
  color: white;
  background-color: #424769;
  box-shadow: 1px 1px 10px #2d2d2d;
  display: flex;
  font-weight: 300;
  h2, p {
    padding-bottom: 2rem;
  }
  p {
    font-size: 1.3rem;
  }
  div {
    padding-bottom: 0.5rem;
  }
  a {
    text-decoration: none;
    color: white;
  }
  svg {
    transform: translateY(+.35em);
  }
  img {
    filter: brightness(0.85) contrast(0.95);
    margin-left: auto;
    height: 70vh;
    object-fit: contain;
    box-shadow: 1px 1px 10px #2d2d2d;
  }
  .contacts-social {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 1200px) {

}

/* @media screen and (max-width: 600px) {
  
} */
